<!--Banner-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
       <%= image_tag 'elearning.png', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Start a Video Meeting</h3>
          <%= link_to 'Start Today!', new_user_registration_path, class: 'btn btn-danger' %>
         
       </div>
    </div>
  </div>
</div>
<!-- End of Banner-->

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <i class="fa fa-youtube-play fa-4x icon"></i>
    <h3>Video Consultations</h3>
    <br />
    <p>Create meetings and video consultations</p>
  </div>

  <div class="col-12 col-sm">
    <i class="fa fa-tv fa-4x icon"></i>
    <h3>Schedule at Anytime</h3>
    <br />
    <p>Create an appointment today with a friend and keep track of your schedule</p>
  </div>

  <div class="col-12 col-sm">
    <i class="fa fa-code fa-4x icon"></i>
    <h3>Join our Community</h3>
    <br />
    <p>Connect and join our community</p>
  </div>
</div>