<!--Banner-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
       <%= image_tag 'elearning.png', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Start a Mideo Consultation and Become a Developer at a Big Tech Company!</h3>
          <%= link_to 'Start Today!', new_user_registration_path, class: 'btn btn-danger' %>
         
       </div>
    </div>
  </div>
</div>
<!-- End of Banner-->

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <i class="fa fa-youtube-play fa-4x icon"></i>
    <h3>Video Consultations</h3>
    <br />
    <p>Receive the best advice from our experts from Ex-Google Software Engineers, Ex-Amazon Software Engineers, Ex-Microsoft Software Engineers, etc.</p>
  </div>

  <div class="col-12 col-sm">
    <i class="fa fa-tv fa-4x icon"></i>
    <h3>Find Your Dream Job</h3>
    <br />
    <p>Don't waste your time looking online for resources and crack the coding interview from real questions asked by big technology companies in 3-6 months</p>
  </div>

  <div class="col-12 col-sm">
    <i class="fa fa-code fa-4x icon"></i>
    <h3>Join our Community</h3>
    <br />
    <p>Connect and get referred from the big technology companies</p>
  </div>
</div>