<div class="panel panel-default">
<nav class="bg-white mb-4 shadow rounded">
  <ul id="nav-tab" class="tabs nav nav-pills nav-tab">
    <li class="active" data-tab="calendar">
      <%= link_to "#calendar", class: "tab flex items-center mtg-link" do %>
         <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<title>calendar</title>
       Calendar
      <% end %>
    </li>

     <li data-tab="all-meetings">
      <%= link_to "#all-meetings", class: "tab flex items-center mtg-link" do %>
         <i class="fa fa-coffee"></i>&nbsp;<title>coffee</title>
      All Meetings
      <% end %>
    </li>

  </ul>
</nav>
</div>

<div class="bg-white p-10 border rounded booyah-box">
<h2 class="mtg_cal_title">Meeting Calendar</h2>
  <div id="calendar" class="mtg_calendar tab-panel active">
    <div id="meeting-calendar">
      <%= render "calendar", meetings: meetings  %> 
    </div>
  </div>
</div>


