<div class="max-w-lg m-auto px-4">
<div class="d-flex justify-content-center edit"><h1 class="text-3xl mt-10">Edit sessions</h1></div>
<div class="d-flex justify-content-center"><p class="text-lg text-grey-darker mb-6">Modify your consulting session by choosing the best time that works for you below.</p></div>
  <%= render 'form', meeting: @meeting %>
</div>