<div class="max-w-lg m-auto px-4">
  <h1 class="text-center">Schedule a new session</h1>
  <p class="text-center">Schedule a new consulting session by choosing the best time that works for you below.</p>
  <%= render 'form', meeting: @meeting %>
</div>
