@import "bootstrap";
@import 'bootstrap-select';

html, body {
  height: 100%;
}
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 35px;
}
h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}
body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
}
.navbar-inverse .navbar-brand {
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size:26px;
}

.pagination {
  cursor: default;
  height: 50px;
  padding-top: 10px;
  margin-top: 35px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}
.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0; 
}
.clear {
    clear: both;
}
#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(36, 32, 33, 0.9);
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  padding: 10px 0px;
  margin-top: 30px;
  font-weight: 100;
}
.social-button {
  margin: 4px;
}
.social a:hover {
  text-decoration: none;
}
#footer a {
  color: white;
  font-weight: 100;
}
button:hover, a:hover {
  opacity: 0.7;
}
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
  width: 100%;
  max-height: 550px;
}
.carousel-item-prev {
  display: block;
}
.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}
.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}
.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}
.card.form {
  padding: 20px;
}
label {
  font-size: 18px;
}
input {
  font-size: 18px;
  font-weight: 400;
}
.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}
.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}
.fc-center{
  text-align: center;
  padding-bottom: 15px;
  margin-top: -35px;
}
.calendar-title{
  font-size: 24px;
}
.mtg_calendar{
  padding-top:20px;
}
.fc-next-button{
  float:right;
}
.nav-tab{
  list-style-type:none;
}
.mtg_cal_title{
  font-size: 24px;
  font-weight: 600;
}
.panel {
  color : white;
  background-color: #4392f1;
  padding : 5px 15px;
  padding-top: 25px;
  margin-top: 15px;
}
.mtg-link{
  color:white;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
}
.mb-4{
  font-size:20px;
  font-weight:600;
}
.text-center{
  padding-top:35px;
}
.left{
  float:left;
}
.signup_row{
  align-items: center;
  justify-content: center;
}
.linkCal{
  font-size:14px;
}
.group::after, .tabBlock-tabs::after {
  clear: both;
  content: "";
  display: table;
}
*, ::before, ::after {
  box-sizing: border-box;
}
@media screen and (min-width: 700px) {
  body {
    font-size: 137.5%;
  }
}

p, ol, ul {
  margin-bottom: 1.25rem;
  margin-top: 0;
}

ol, ul {
  padding: 0;
  margin-left: 1.25rem;
}

.unstyledList, .tabBlock-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabBlock {
  margin: 0 0 2.5rem;
}

.tabBlock-tab {
  background-color: #fff;
  border-color: #d8d8d8;
  border-left-style: solid;
  border-top: solid;
  border-width: 2px;
  color: #b5a8c5;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0.625rem 1.25rem;
  position: relative;
  -webkit-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
}
.tabBlock-tab:last-of-type {
  border-right-style: solid;
}
.tabBlock-tab::before, .tabBlock-tab::after {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  -webkit-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
}
.tabBlock-tab::before {
  background-color: #b5a8c5;
  left: -2px;
  right: -2px;
  top: -2px;
}
.tabBlock-tab::after {
  background-color: transparent;
  bottom: -2px;
  left: 0;
  right: 0;
}
@media screen and (min-width: 700px) {
  .tabBlock-tab {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.tabBlock-tab.is-active {
  position: relative;
  color: #975997;
  z-index: 1;
}
.tabBlock-tab.is-active::before {
  background-color: #975997;
}
.tabBlock-tab.is-active::after {
  background-color: #fff;
}

.tabBlock-content {
  background-color: #fff;
  border: 2px solid #d8d8d8;
  padding: 1.25rem;
}

.tabBlock-pane > :last-child {
  margin-bottom: 0;
}

.row-striped{
  background-color: #00b3ff;
  padding: 15px 0;
  color:#fff;
  border-radius: 29px 29px 29px 29px;
  -moz-border-radius: 29px 29px 29px 29px;
  -webkit-border-radius: 29px 29px 29px 29px;
}
.editbtn{
  float:left;
  padding-right:5px;
}
.list-inline{
  margin-left:0px;
}
.mtg_update_separator{
   border-right:1px solid #ffffff;
} 
.deletebtn{
  float:right;
}
.updateTitle{
  padding:15px;
}
.edit{
  padding-top:10px;
}
.video_link{
  color: #fff;
}
.videobtn{
  height:50px;
  width:200px;
}


//Text
$base__font-size: 16px;

$font-family--montserrat: 'Montserrat', sans-serif;
$font-family--primary : $font-family--montserrat;

//Colors
$white: #fff;
$black: #222741;
$gray: #99A4AE;
$blue: #66DCEC;
$yellow: #FDCA40;
$green: #86D8C9;

//Color Palette
$palettes: (
  gray-shades: (
    darker: #9FAAB7,
    base: #99A4AE,
    light: #DCDCE3,
    lighter: #BEC1CA,
    lightest: #F2F6F8
  )
);

// Color usages
$main-background-color: #F8FAFA;
$calendar-item-border: #FEFEFE;
$calendar-item-text: #424588;
$calendar-button-color: #E9E8E8;

//Font size variables
$lg-font-size: 20px;
$default-font-size: 14px;
$sm-font-size: 14px;
$xsm-font-size: 14px;

//Font weight variables
$font-weight--bold: 700;
$font-weight--semi-bold: 600;
$font-weight--regular: 400;

//Color Usage
$primary-color: $green;

@function palette($palette, $shade: base){
  @return map-get(map-get($palettes, $palette), $shade);
}
// Retrieved from https://github.com/sshikhrakar/Sass-Starter/
// BEM(Block Element Modifier) Naming Convention
// For Element
// $element  - Just the element name for the parent block (doesn't require the parent Block name)
// @usage    - `.Nav {@include e(item){...}}`
@mixin e($element){
  &__#{$element}{
    @content;
  }
}

// For Modifier
// $modifier  - Just the modifier name for the parent block or element
// @usage     - `.Nav {@include e(item) {@include m(active) {...}}}`
@mixin m($modifier){
  &--#{$modifier}{
    @content;
  }
}

// Media Query
@mixin mq($break){
    @if type-of($break) == 'number' {
      @media(min-width: $break + 'px') {
        @content;
      }
    }
    @else {
      @error "No value could be retrieved for '#{$break}'";
    }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Base Code
html, body{
  height: 100%;
}
body{
  -webkit-font-smoothing: antialiased;
  font-family: $font-family--primary;
  text-rendering: optimizeLegibility;
  background: #fcfcfc;
}

.main-container-wrapper {
  background-color: $main-background-color;
  min-width: 320px;
  min-height: 568px;
  max-width: 414px;
  overflow-y: auto;

  @include mq(415) {
    -moz-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);    
    -webkit-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
    box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
    margin: 24px auto;
  }
}

header {
  background-color: $white;
  display: flex;
  height: 58px;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.header {
  @include e(btn) {
    background-color: $primary-color;
    border: 2px solid $white;
    border-radius: 50%;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 80px;
    padding-top: 18px;
    position: absolute;
    top: -25px;
    width: 80px;
    
    &:hover,
    &:focus {
      background: darken($primary-color, 8%);
      transition: all 0.3s ease-in;
      outline: none;
    }

    .icon {
      display: inline-block;
    }

    @include m(left) {
      left: -25px;
      padding-left: 38px;
      text-align: left;
    }

    @include m(right) {
      padding-right: 32px;
      right: -25px;
      text-align: right;
    }
  }
}

.calendar-container {
  background-color: $white;
  padding: 16px;
  margin-bottom: 24px;

  @include e(header) {
    display: flex;
    justify-content: space-between;
  }

  @include e(btn) {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    color: $calendar-button-color;

    &:hover,
    &:focus {
      color: palette(gray-shades, darker);
      transition: all 0.3s ease-in;
    }
  }

  @include e(title) {
    color: $black;
    font-size: $lg-font-size;
    font-weight: $font-weight--bold;
  }
}

.calendar-table {
  margin-top: 12px;
  width: 100%;

  @include e(item) {
    border: 2px solid transparent;
    border-radius: 50%;
    color: $calendar-item-text;
    font-size: $sm-font-size;
    font-weight: $font-weight--bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    &:hover {
      background: #f8fafa;
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      transition: 0.2s all ease-in;
    }
  }

  @include e(row) {
    display: flex;
    justify-content: center;
  }

  @include e(header) {
    border-bottom: 2px solid palette(gray-shades, lightest);
    margin-bottom: 4px;

    .calendar-table__col {
      display: inline-block;
      color: $gray;
      font-size: $sm-font-size;
      font-weight: $font-weight--bold;
      padding: 12px 3px;
      text-align: center;
      text-transform: uppercase;
      width: 40px;
      height: 38px;

      @include mq(360) {
        width: 46px;
      }

      @include mq(410) {
        width: 54px;
      }
    }
  }

  @include e(body) {
    .calendar-table__col {
      width: 40px;
      height: 42px;
      padding-bottom: 2px;

      @include mq(360) {
        width: 46px;
        height: 48px;
      }

      @include mq(410) {
        width: 54px;
        height: 56px;
      }
    }
  }

  @include e(today) {
    .calendar-table__item {
      border-color: $calendar-item-border;
      background-color: palette(gray-shades, lightest);
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
  }

  @include e(event)  {    
    .calendar-table__item {
      background-color: $blue;
      border-color: $calendar-item-border;
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      color: $white;
    }

    @include m(long) {
      overflow-x: hidden;
      
      .calendar-table__item {
        border-radius: 0;
        border-width: 2px 0;
      }
    }

    @include m(start) {
      .calendar-table__item {
        border-left: 2px solid $white;
        border-radius: 50% 0 0 50%;
      }

      &.calendar-table__col:last-child {
        .calendar-table__item {
          border-width: 2px;
        }
      }
    }

    @include m(end) {
      .calendar-table__item {
        border-right: 2px solid $white;
        border-radius: 0 50% 50% 0;
      }

      &.calendar-table__col:first-child {
        .calendar-table__item {
          border-width: 2px;
        }
      }
    }
  }

  @include e(inactive) {
    .calendar-table__item {
      color: palette(gray-shades, light);
      cursor: default;
      
      &:hover {
        background: transparent;
        box-shadow: none;
      }
    }
  
    &.calendar-table__event {
      .calendar-table__item {
        color: $white;
        opacity: 0.25;
        
        &:hover {
          background: $blue;
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.events-container {
  padding: 0 15px;
}

.events {
  @include e(title) {
    color: palette(gray-shades, lighter);
    display: inline-block;
    font-size: $default-font-size;
    font-weight: $font-weight--semi-bold;
    margin-bottom: 16px;
  }

  @include e(tag) {
    background: $blue;
    border: 2px solid $calendar-item-border;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: $white;
    font-size: $xsm-font-size;
    font-weight: $font-weight--semi-bold;
    width: 70px;
    margin-left: 16px;
    padding: 5px 2px;
    text-align: center;

    @include m(highlighted) {
      background: $yellow;
    }
  }

  @include e(item) {
    background: $white;
    border-left: 8px solid $primary-color;
    border-radius: 2px;
    -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    padding: 15px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    @include m(left) {
      width: calc(100% - 76px);
    }
  }

  @include e(name) {
    font-size: $sm-font-size;
    font-weight: $font-weight--bold;
    color: $black;
    display: block;
    margin-bottom: 6px;
  }

  @include e(date) {
    font-size: $sm-font-size;
    color: palette(gray-shades, darker);
    display: inline-block;
  }
}
.mr-4{
  font-size: 20px;
}

