@import "bootstrap";
@import 'bootstrap-select';

html, body {
  height: 100%;
}
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 35px;
}
h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}
body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
}
.navbar-inverse .navbar-brand {
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size:26px;
}

.pagination {
  cursor: default;
  height: 50px;
  padding-top: 10px;
  margin-top: 35px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}
.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0; 
}
.clear {
    clear: both;
}
#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(36, 32, 33, 0.9);
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  padding: 10px 0px;
  margin-top: 30px;
  font-weight: 100;
}
.social-button {
  margin: 4px;
}
.social a:hover {
  text-decoration: none;
}
#footer a {
  color: white;
  font-weight: 100;
}
button:hover, a:hover {
  opacity: 0.7;
}
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
  width: 100%;
  max-height: 550px;
}
.carousel-item-prev {
  display: block;
}
.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}
.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}
.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}
.card.form {
  padding: 20px;
}
label {
  font-size: 18px;
}
input {
  font-size: 18px;
  font-weight: 400;
}
.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}
.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}
.fc-center{
  text-align: center;
  padding-bottom: 15px;
  margin-top: -35px;
}
.calendar-title{
  font-size: 24px;
}
.mtg_calendar{
  padding-top:20px;
}
.fc-next-button{
  float:right;
}
.nav-tab{
  list-style-type:none;
}
.mtg_cal_title{
  font-size: 24px;
  font-weight: 600;
}
.panel {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
  padding-top: 25px;
  margin-top: 15px;
}
.mtg-link{
  color:white;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
}
.mb-4{
  font-size:20px;
  font-weight:600;
}